@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #1b1f1e;
    font-family: "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background-color: #fff;
    font-weight: 300;

}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1b1f1e;
    outline: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}


.section-header {
    font-size: 160px;
    font-weight: bold;
    letter-spacing: 6.4px;
    color: rgba(0, 0, 0, 0);
    font-family: Termina;
    -webkit-text-stroke: 1px #1b1f1e;
    padding: 240px 0 160px;
}

.barcode {
    position: absolute;
    top: -190px;
    left: -78px;
    width: 200px;
    mix-blend-mode: screen;
}

/*-------------------

top-pc

--------------------*/
.top {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.top a {
    color: #fff;
}

.header {
    z-index: 100;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

}

.biography {
    flex-basis: 33.33%;
    padding: 20px 0 0 20px;
}

h1 {
    font-weight: 300;
    padding-bottom: 16px;
}

.mail {
    flex-basis: 33.33%;
    padding: 20px;
}

.menu {
    flex-basis: 33.33%;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.menu-list {
    display: inline-block;
}

.menu-list li {
    text-align: left;
}

.menu-item {
    padding-bottom: 16px;
}

.top-container {
    background: linear-gradient(#4ca1af, #a5c3bc);
    margin: 20px;
    height: 700px;
    overflow: hidden;
}

.collage {
    position: relative;
    width: 400px;
    height: 400px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}


.cdjacket {
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 10px;
    right: 0;
    margin: auto;
    width: 600px;
}

.browser {
    position: absolute;
    top: 0%;
    right: -20%;
    margin: auto;
    width: 180px;
}

.pointer {
    position: absolute;
    top: 16%;
    right: -14%;
    margin: auto;
    width: 4%;
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}



@keyframes anime1 {
    0% {
        transform: translate(0px)
    }

    20% {
        transform: translate(-10px, -6px)
    }

    50% {
        transform: translate(-64px, 8px)
    }

    60% {
        transform: translate(-32px, -4px)
    }

    80% {
        transform: translate(-10px, 8px)
    }

    100% {
        transform: translate(0px)
    }
}


.statue {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 300px;
}

.jeans {
    position: absolute;
    bottom: 14%;
    left: -12%;
    margin: auto;
    width: 100px;
}

.stitch {
    position: absolute;
    bottom: 34%;
    right: -14%;
    margin: auto;
    width: 220px;
}

.parka {
    z-index: 0;
    position: absolute;
    top: 8%;
    left: -14%;
    margin: auto;
    width: 150px;
}

.shape {
    position: absolute;
    top: 14%;
    left: -30%;
    margin: auto;
    width: 220px;
    animation-name: anime2;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime2 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.year {
    z-index: 2;
    position: absolute;
    bottom: -16%;
    left: 16%;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 800%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
}

.sneaker {
    z-index: 2;
    position: absolute;
    top: 32%;
    left: 8%;
    margin: auto;
    width: 80px;
}

.dotdog {
    position: absolute;
    bottom: 10%;
    left: -6%;
    margin: auto;
    width: 120px;
}

.circle {
    position: absolute;
    bottom: 40px;
    left: -10%;
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(#ffd26c, #dd9696);
}

.clouds {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    right: -10%;
    margin: auto;
    width: 120px;
}

.hqvision {
    position: absolute;
    top: -16%;
    right: 8%;
    margin: auto;
    width: 260px;
}

.ff {
    position: absolute;
    bottom: 48%;
    right: -4%;
    margin: auto;
    width: 100px;
}



/*-------------------

works-pc

--------------------*/
.works-container {
    margin: 0 auto;
    width: 100%;
    height: 1300px;
    padding: 20px;
    background-color: #fff;
}


.works-item {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 20px;
    object-fit: contain;
}

.work01 {}

.work02 {}


.work03 {}

.work04 {}

.work05 {
    width: 100%;
    height: 400px;
    background-color: lightgray;
}

.work06 {}

.work07 {}

.work10 {
    background-color: #2fa7a7;

}

.grid {
    width: 98%;
    margin: 0 auto;
}

#demo1 {
    margin: 0 auto;
}

.grid-item {
    width: 400px;
    padding-bottom: 20px;
}

.grid-item img {
    width: 100%;
}

/*-------------------

profile-pc

--------------------*/
.bg {
    background: linear-gradient(#a5c3bc, #4ca1af);
    color: #fff;
    margin: 20px;
    padding-bottom: 20px;
}

.bg .section-header {
    -webkit-text-stroke: 1px #fff;
}

.profile-info {
    text-align: left;
    font-size: 24px;
    width: 70%;
    margin: 0 auto;
}

.profile-sub {
    font-size: 18px;
    line-height: 1.4;
}

.profile-sub dt {
    font-weight: bold;
}

.profile-sub dd {
    padding-bottom: 40px;
}

.profile-sub dd:last-child {
    padding-bottom: 0;
}

.name {
    padding-bottom: 40px;
}

.aboutme {
    line-height: 1.4;
    padding-bottom: 80px;
}




/*-------------------

contact-pc

--------------------*/

.contact p {
    text-align: left;
    display: block;
    width: 25%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.contact a {
    color: #fff;
    font-size: 24px;
}

.contact-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 240px;
}

.copy {}




/*-------------------

□□□ sp □□□

--------------------*/
@media (max-width: 780px) {
    .section-header {
        font-size: 16vw;
        font-weight: bold;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0);
        font-family: Termina;
        -webkit-text-stroke: 0.7px #1b1f1e;
        padding: 120px 0 72px;
    }

    .onlypc {
        display: none;
    }

    /*-------------------

top-sp

--------------------*/
    .header {
        font-size: 14px;

    }

    .biography {
        padding: 4% 0 0 4%;
        flex-basis: 70%;
        line-height: 1.4;
    }

    h1 {
        padding-bottom: 10px;
    }

    .mail {
        display: none;
    }

    .menu {
        flex-basis: 30%;
        text-align: right;
        padding-top: 40px;
        padding-right: 50px;
    }

    .menu-list {
        display: block;
        background: #000;
    }

    .menu-list li {
        text-align: left;
        padding-bottom: 32px;
    }

    .menu-list a {
        z-index: 1;

        position: relative;
        color: #000;
    }

    .list-top {
        position: absolute;
        top: 18px;
        right: 16px;
        width: 60px;
        height: 30px;
        background: #fff;
        transform: rotate(16deg);

    }

    .list-about {
        position: absolute;
        top: 66px;
        right: 12px;
        width: 60px;
        height: 30px;
        background: #fff;
        transform: rotate(-2deg);
    }

    .list-profile {
        position: absolute;
        top: 130px;
        right: 18px;
        width: 60px;
        height: 30px;
        background: #fff;
        transform: rotate(-12deg);
    }

    .list-contact {
        position: absolute;
        top: 192px;
        right: 12px;
        width: 60px;
        height: 30px;
        background: #fff;
        transform: rotate(6deg);
    }


    .nav-menu {
        position: fixed;
        top: 42px;
        right: 0;
        display: none;
        width: 86px;
    }

    .menu-item {
        padding: 14px 16px;
        background: #000;
    }



    .hamburger {
        z-index: 500;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 86px;
        height: 44px;
        background: #000;
        cursor: pointer;
        border: none;
        outline: none;
        appearance: none;
    }

    .hamburger__line {
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 1px;
        background-color: #fff;
        transition: all .5s .2s;
    }

    .hamburger__line1 {
        top: 15px;
        right: 15px;
    }

    .hamburger__line2 {
        top: 20px;
        right: 15px;
    }

    .hamburger__line3 {
        top: 25px;
        right: 15px;
    }

    .hamburger.active span {
        background-color: #fff;
    }

    .hamburger span:nth-of-type(1) {
        top: 16px;
    }

    .hamburger.active span:nth-of-type(1) {
        transform: translateY(8px) rotate(-20deg);
    }

    .hamburger span:nth-of-type(2) {
        top: 22px;
    }

    .hamburger.active span:nth-of-type(2) {
        opacity: 0;
    }

    .hamburger span:nth-of-type(3) {
        top: 28px;
    }

    .hamburger.active span:nth-of-type(3) {
        transform: translateY(-4px) rotate(20deg);
    }

    .top-container {
        margin: 4%;
        height: 600px;
        overflow: hidden;
    }

    .collage {
        position: relative;
        width: 180px;
        height: 180px;
        top: 80px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .cdjacket {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 480px;
    }

    .browser {
        position: absolute;
        top: -20%;
        right: -38%;
        margin: auto;
        width: 100px;
    }

    .pointer {
        position: absolute;
        top: -4%;
        right: -36%;
        margin: auto;
        width: 6%;
    }



    @keyframes anime1 {
        0% {
            transform: translate(0px)
        }

        20% {
            transform: translate(-10px, -6px)
        }

        50% {
            transform: translate(-52px, 6px)
        }

        60% {
            transform: translate(-30px, -4px)
        }

        80% {
            transform: translate(-10px, 6px)
        }

        100% {
            transform: translate(0px)
        }
    }


    .statue {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 180px;
    }

    .jeans {
        position: absolute;
        bottom: 8%;
        left: -28%;
        margin: auto;
        width: 52px;
    }

    .stitch {
        position: absolute;
        bottom: 38%;
        right: -34%;
        margin: auto;
        width: 120px;
    }

    .parka {
        position: absolute;
        top: -8%;
        left: -32%;
        margin: auto;
        width: 80px;
    }

    .shape {
        position: absolute;
        top: -22%;
        left: -40%;
        margin: auto;
        width: 280px;
        animation-name: anime2;
        animation-duration: 3.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes anime2 {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(360deg)
        }
    }

    .year {
        z-index: 1;
        position: absolute;
        bottom: -28%;
        left: 2%;
        font-family: Neue Haas Grotesk Display Pro;
        font-size: 80px;
        font-weight: normal;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 1px #fff;
    }

    .sneaker {
        position: absolute;
        top: 32%;
        left: -8%;
        margin: auto;
        width: 60px;
    }

    .dotdog {
        position: absolute;
        bottom: -4%;
        left: -32%;
        margin: auto;
        width: 100px;
    }

    .circle {
        position: absolute;
        bottom: 22%;
        left: 22%;
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(#ffd26c, #dd9696);
    }

    .clouds {
        position: absolute;
        bottom: 0%;
        right: -24%;
        margin: auto;
        width: 60px;
    }

    .hqvision {
        position: absolute;
        top: -34%;
        right: 2%;
        margin: auto;
        width: 160px;
    }

    .ff {
        position: absolute;
        bottom: 18%;
        right: 10%;
        margin: auto;
        width: 16%;
    }

    /*-------------------

works-sp

--------------------*/
    .works-container {
        column-count: 1;
        column-gap: 4%;
        column-fill: auto;
        margin: 0 auto;
        width: 100%;
        height: 2000px;
        padding: 4%;
        background-color: #fff;
        overflow: hidden;

    }

    .works-item {
        display: inline-block;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 4%;
        width: 100%;
        height: auto;
    }

    .work01 {}

    .work02 {
        object-fit: cover;
    }


    .work03 {
        object-fit: cover;
    }

    .work04 {}

    .work05 {
        width: 100%;
        height: 400px;
        background-color: lightgray;
    }

    .work06 {
        object-fit: cover;
    }

    .work07 {
        object-fit: cover;
    }

    .work10 {
        background-color: #2fa7a7;

    }


    /*-------------------

profile-sp

--------------------*/
    .bg {
        background: linear-gradient(#a5c3bc, #4ca1af);
        color: #fff;
        margin: 4%;
        padding-bottom: 20px;
    }

    .bg .section-header {
        -webkit-text-stroke: 0.7px #fff;
    }

    .profile-info {
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
    }

    .profile-sub {
        font-size: 14px;
        line-height: 1.6;
    }

    .profile-sub dt {
        font-weight: bold;
    }

    .profile-sub dd {
        padding-bottom: 32px;
    }

    .profile-sub dd:last-child {
        padding-bottom: 0;
    }

    .name {
        padding-bottom: 32px;
    }

    .aboutme {
        line-height: 1.4;
        padding-bottom: 48px;
    }




    /*-------------------

contact-sp

--------------------*/

    .contact p {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .contact a {
        color: #fff;
        font-size: 16px;
    }

    .contact-container {
        position: relative;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 168px;
    }

    .copy {
        font-size: 1.2rem;
    }
}
