@charset "UTF-8";


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: #1b1f1e;
    font-family: "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background-color: #fff;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1b1f1e;
    outline: none;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.section-header {
    font-size: 160px;
    font-weight: bold;
    letter-spacing: 6.4px;
    color: rgba(0, 0, 0, 0);
    font-family: Termina;
    -webkit-text-stroke: 1px #1b1f1e;
    padding: 240px 0 32px;
}


/*-------------------

top-pc

--------------------*/
.top {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
}

.top a {
    color: #fff;
}

.header {
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

}

.biography {
    background-color: tan;
    flex-basis: 33.33%;
    padding: 20px;
}

.mail {
    flex-basis: 33.33%;
    padding: 20px;
}

.nav-menu {
    flex-basis: 33.33%;
    background-color: red;
    text-align: right;
}

.nav-list li {
    text-align: left;
}

.nav-item {}

.top-container {
    background-color: #a5c3bc;
    margin: 20px;
    height: 100vh;
}

.barcode {
    padding-bottom: 64px;
}


/*-------------------

works-pc

--------------------*/




/*-------------------

profile-pc

--------------------*/
.profile-info {
    text-align: left;
    font-size: 28px;
    width: 70%;
    margin: 0 auto;
}

.profile-sub {
    font-size: 18px;
    line-height: 1.4;
}

.profile-sub dt {
    font-weight: bold;
}

.profile-sub dd {
    padding-bottom: 40px;
}

.profile-sub dd:last-child {
    padding-bottom: 0;
}

.name {
    padding-bottom: 40px;
}

.aboutme {
    line-height: 1.4;
    padding-bottom: 80px;
}




/*-------------------

contact-pc

--------------------*/
.contact p {
    text-align: left;
    padding-bottom: 20px;
}

.contact-container {
    width: 240px;
    margin: 0 auto;
    padding-bottom: 140px;
}

.copy {
    padding-bottom: 20px;
}
