@charset "UTF-8";

.header {
    position: static;
    color: #000;
    margin: 0 20px;
}

.header-container {
    position: fixed;
}


.mail {
    margin-left: 400px;
}

h1 {

    font-size: 1.6rem;
}

h2 {
    font-size: 2.2rem;
    padding-bottom: 4px;
}

h3 {
    font-weight: 300;
    padding: 40px 0;
    font-size: 2rem;
}

h4 {
    padding-bottom: 4px;
}

.header a {
    color: #000;
}




/*----------

ホバースタイル

----------*/
@media (hover: hover) {
    .glitch:hover {
        color: #fff;
        font-size: 1.6rem;
        position: relative;
        margin: 0 auto;
        background: #000;
    }

    .glitch:hover::before {
        content: attr(data-text);
        position: absolute;
        left: -0.9px;
        text-shadow: 0.9px 0 blue;
        top: 0;
        color: #fff;
        background: #000;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 1.8s infinite linear alternate-reverse;
    }

    .glitch:hover::after {
        content: attr(data-text);
        position: absolute;
        left: 0.7px;
        text-shadow: -0.7px 0 red;
        top: 0.1;
        color: #fff;
        background: #000;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 1.8s infinite linear alternate-reverse;
    }

    .glitch-14:hover {
        font-size: 1.4rem;
    }

}



/*-------------------

project-summary-pc

--------------------*/
.work-detail {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 0 20px 20px;
}

.project-summary {
    position: fixed;
    padding: 0 5% 0 2%;
    width: 35%;
    height: 100vh;
}

.project-detail {
    width: 65%;
    padding: 0 5% 0;
    margin-left: 37%;
}


dl {
    padding-bottom: 4vh;
}

dt {
    font-weight: 600;
}

dd a {
    padding: 0 0.4px;
}

.category {
    padding-bottom: 4vh;
}

.summary {
    padding-bottom: 6vh;
}

.back {
    position: absolute;
    bottom: 32vh;
    left: 6%;
}

.lt::before {
    content: "<";
}

.barcode {
    position: absolute;
    bottom: 28vh;
    right: 8%;
}

/*-------------------

project-detail-pc

--------------------*/
.project-img {
    padding-bottom: 80px;
}

.project-video {
    padding-bottom: 80px;

}

.project-video video {
    width: 100%;
}

.project-intention p {
    padding-bottom: 24px;
}

.intention-box {
    padding-bottom: 24px;
}



.references {
    font-size: 1rem;
    padding: 200px 0 0;
}

/*-------------------

□□□ sp □□□

--------------------*/
@media (max-width: 767px) {
    .mail {
        display: none;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 2.2rem;
        padding-bottom: 4px;
    }

    h3 {
        font-weight: 300;
        padding: 40px 0;
        font-size: 2rem;
    }

    h4 {
        padding-bottom: 4px;
    }

    .header {
        margin: 0;
        display: block;
    }

    .header-container {
        position: static;
    }

    .header a {
        color: #000;
    }




    /*-------------------

project-summary-sp

--------------------*/
    .work-detail {
        display: block;
        font-size: 1.4rem;
        line-height: 1.6;
        margin: 0 4% 20px;
    }

    .project-summary {
        position: static;
        width: 100%;
        height: auto;
        padding: 72% 0 20% 2%;
    }

    .project-detail {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .project-img img {
        padding-bottom: 20px;
    }

    .first-img {
        position: absolute;
        top: 80px;
        left: 0;
        padding: 4%;
    }

    dl {
        padding-bottom: 4vh;
    }

    dt {
        font-weight: 600;
    }

    dd a {
        padding: 0 0.4px;
    }

    .category {
        padding-bottom: 4vh;
    }


    .back {
        position: static;
        padding: 40px 0 0;
    }

    .lt::before {
        content: "<";
    }

    .barcode {
        text-align: right;
        position: static;
    }

    .biography {
        display: block;
    }


    /*-------------------

project-detail-sp

--------------------*/
    .project-img {
        padding-bottom: 40px;
    }

    .project-video {
        padding-bottom: 40px;

    }

    .project-video video {
        width: 100%;
    }

    .project-intention p {
        padding-bottom: 24px;
    }

    .intention-box {
        padding-bottom: 24px;
    }



    .references {
        font-size: 1rem;
        padding: 200px 0 0;
        word-wrap: break-word;
    }




    /*-------------------

□□□ tablet □□□

--------------------*/
    @media (min-width: 768px) and (max-width: 959px) {}
