@charset "UTF-8";

.header {
    color: #2C2C2C;
}

.header-container {
    position: fixed;
}

h2 {
    font-size: 2.2rem;
    padding-bottom: 4px;
    font-family: "Neue Haas Grotesk Display Pro", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.onlysp {
    display: none;
}




/*-------------------

project-summary-pc

--------------------*/
.work-detail {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2;
    margin: 0 0 20px;
    font-weight: 600;
}

.project-summary {
    position: fixed;
    padding: 120px 6% 0 40px;
    width: 35%;
    height: 100vh;
    line-height: 1.4;
}

.project-summary dl {
    padding-bottom: 2vh;
    font-size: 1.2rem;
}

.project-summary dd {
    padding-bottom: 4vh;
}

.url {
    line-height: 1;
}

.category {
    padding-bottom: 4vh;
    font-size: 1.2rem;
}

.summary {
    font-size: 1.2rem;
    padding-bottom: 6vh;
}

.back {
    font-size: 1.6rem;
    position: absolute;
    padding: 10% 0 0 0;
    font-weight: 600;
    line-height: 1;
}

.lt::before {
    content: "<";
}

.barcode {
    display: inline-block;
    position: absolute;
    right: 12%;
    padding: 40px 0 0;
    background-color: #E2E2E2;
}

.barcode img {
    mix-blend-mode: multiply;
}




/*-------------------

project-detail-pc

--------------------*/
.project-detail {
    width: 65%;
    padding: 0 4% 0 6%;
    margin-left: 35%;
}

.first-img-box {
    width: 65%;
    padding: 8% 4% 0 6%;
    margin-left: 35%;
}

.project-img {
    width: 100%;
    padding-bottom: 40px;
}

.project-video {
    padding-bottom: 40px;

}

.project-video video {
    width: 100%;
}

.project-intention p {
    padding: 0 1% 0;
    padding-bottom: 16px;
}

.intention-box {
    padding-bottom: 40px;
}

.definition {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1% 0;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.definition dt {
    width: 15%;
}

.definition dd {
    width: 85%;
}

.references {
    font-size: 1rem;
    font-weight: 300;
    padding: 240px 0 0;
    line-height: 1.5;
}

/*-------------------

□□□ sp □□□

--------------------*/
@media (max-width: 767px) {
    .header-contact {
        display: none;
    }

    .header {
        margin: 0;
    }

    .header-container {
        position: static;
    }

    .onlysp {
        display: block;
    }


    /*-------------------

project-summary-sp

--------------------*/
    .work-detail {
        flex-direction: column;
        margin: 0 4%;
    }

    .project-summary {
        order: 2;
        position: static;
        width: 100%;
        height: auto;
        padding: 70% 0 24% 2%;
        margin-bottom: 24%;
        font-size: 1.2rem;
        line-height: 1.8;
    }

    .project-detail {
        order: 3;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .first-img-box {
        order: 1;
        width: 100%;
        margin: 0;
        padding: 20px 0 0;
    }

    .project-img img {
        padding-bottom: 0px;
    }

    dl {
        line-height: 1.4;
        padding-bottom: 2.4vh;
    }

    dd a {
        padding: 0 0.4px;
        line-height: 1;
    }


    .category {
        padding-bottom: 2.4vh;
    }

    .summary {
        padding-bottom: 2.4vh;
    }

    .back {
        position: static;
        padding: 40px 0 80px;
    }

    .lt::before {
        content: "<";
    }

    .barcode {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        padding: 0;
    }

    .barcode img {
        width: 24vw;
        text-align: right;
        margin: 0 auto;
    }




    /*-------------------

project-detail-sp

--------------------*/
    .project-detail {
        padding-bottom: 2%;
    }

    .project-name {
        font-size: 2.2rem;
        padding: 0 0 2px 0;
    }

    .intention-box {
        padding-bottom: 6%;
    }

    .intention-box dl {
        font-size: 1.2rem;
    }

    .project-img {
        width: 100%;
        padding-bottom: 20px;
    }

    .project-video {
        padding-bottom: 20px;
    }

    .references {
        padding: 160px 0 0;
        word-wrap: break-word;
        line-height: 1.6;
    }

    .project-summary {
        width: 80%;
        padding: 0 8% 10%;
    }
}

/*-------------------

□□□ tablet □□□

--------------------*/
@media (min-width: 768px) and (max-width: 959px) {

    .biography {
        flex-basis: 35%;
    }

    .project-summary {
        padding: 120px 2% 0 24px;
    }

    .first-img-box {
        width: 65%;
        padding: 10% 24px 0;
        margin-left: 35%;
    }

    .project-detail {
        padding: 0 24px 0;
    }
}
